# виртуалки и мусор
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.log

# локальные переменные окружения
.env

# (если не хочешь светить склад в паблике — добавь строку ниже,
# но тогда репозиторий должен быть приватным И на хостинге склад нужно будет класть иначе)
# stock.json
